:root {
    --main-color: #f76c6c;
    --second-color: black;
    --third-color: white;

}

* {
    box-sizing: border-box;
    margin: 0;
}



body {
    margin: 0;
    padding: 0;
    background-color: var(--second-color);
}

/* navbar  */

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-color);
    width: 100%;
    padding: 7px;
}

nav img {
    width: 3rem;
    margin: 0;

}

nav ul {
    list-style: none;
    padding: 0;

}



nav ul li {
    display: inline-block;
    margin-right: 10px;

}



li:hover {
    background-color: rgb(18, 12, 12);
    color: orange;
    height: 100%;
}



/* Header */

header {
    display: flex;
    align-items: flex-end;
    background-image: url(sauron.png);
    background-size: cover;
    min-height: 300px;
    width: 100%;
}

header h1 {
    text-align: center;
    color: white;
    font-size: 20px;

}

section {
    color: white;
    padding: 15px;
}

p {
    margin-top: 8px;
    line-height: 1.2;
}