:root {
    --main-color: #E96820;
    --second-color: rgba(0, 0, 0, 0.947);
    --white-color: aliceblue;
    --main-font: Verdana, Geneva, Tahoma, sans-serif;


}

* {
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--second-color);
    font-family: var(--main-font);

}

/* EXPERIENCE SECTION */

.diagonal {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    background-color: var(--main-color);
    padding-bottom: 4rem;
    padding-top: 4rem;
}



.experiences {
    padding-top: 6rem;
}

.experiences h2 {

    margin-left: 2rem;
    margin-bottom: 2rem;
}

.experiences div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 1rem;
}

.experiences img {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
}

.experiences p {
    text-align: center;
}

/* SKILLS SECTION */

.skills {

    margin-top: 4rem;
    margin-bottom: 4rem;
}

.skills h2 {

    margin-left: 2rem;
    margin-bottom: 2rem;

}

.skill-container {
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}

.skills p {
    width: 50%;
}

.skills img {
    width: 2.5rem;
    height: 2.5rem;
}

.bar-container,
.bar-progress {
    border-radius: 3rem;
}


.bar-container {
    width: 35%;
    background-color: rgb(200, 85, 23);
    height: 1rem;
    display: flex;
    justify-content: space-between;
    border: solid;
    border-color: var(--second-color);

}

.bar-container p {
    width: fit-content;
    font-size: smaller;


}

.bar-progress {
    background-color: var(--second-color);
}

.best {
    width: 100%;
}

.good {
    width: 75%;
}

.worst {
    width: 25%;
}

/* .bar-fill {
    height: 85%;
    margin-top: auto;
    margin-bottom: auto;
    width: 18%;
    background-color: var(--main-color);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
} */