h1 {
    margin-top: 250px;
}



.diagonal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


header {
    background-image: url(sauron.png);
}
#experiences {
}


img {
    width: 70px;
}

/* langue et loisir */  
.skills :first-child {
    align-self: center;
}

.skills {
    margin-bottom: 15px;
}

#LanguesEtLoisirs  p {
    color: var(--thirdcolor);
}


#LanguesEtLoisirs h2 {
    color: var(--thirdcolor);
}





/*contact */

a {
    padding: 10px; 
}
.contact a  {
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    background-color: var(--secondcolor);
    color: var(--maincolor);
    border: 2px solid var(--maincolor);
    height: 10px;

}

#contact {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.contact {
    padding-bottom: 55px;
}

/* footer */